.image{
    background-color: red;
}
.contact{
    margin: 3rem 0;
}
.form-input , .submit{
    margin-top: 2rem;
}
.form-input input ,textarea{
    width: 100%;
    padding: 1rem;
}
.submit{
    width: 100%;
    padding: 2rem;
}