.search-btn-mobile , .menu-btn-mobile{
    display: none;
}

@media (max-width:991px) {
    .search-box,.top_nav {
        display: none;
    }
    .main_header .btns{
        font-size: 1.5em;
    }
    .search-btn-mobile , .menu-btn-mobile{
       display: inline;
    }
    .navbar_site{
        display: none;
    }
    .slider{
        width: 90%;
        margin: 0 auto;
    }

    .dark-overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.419);
        position: fixed;
        top: 0;
        z-index: 998;
    }
    .right-menu {
        width: 70%;
        height: 100%;
        z-index: 999;
        display: block;
        position: fixed;
        right: 0;
        top: 0;
    }
    .right-menu ul{
        flex-direction: column;
    }
    .right-menu ul li{
        padding: 1rem;
    }
    .right-menu ul li::after{
        content: "";
    }
    .right-menu .mr-2 {
        margin-right: 0;
    }

    .search-mobile{
        position: absolute;
        top:70px;
        left: 0;
        display: block;
        width: 100%;
        background-color: rgb(46, 46, 46);
        padding: 1rem 0;
        z-index: 999;
    }

    .search-mobile input {
        border-color: rgb(164, 164, 164);
        background-color: white;
    }
    .search-mobile .btn-search{
        background-color: green;
    }

    .add-to-cart .optional{display: flex;}
    .add-to-cart .optional p{margin: 0 auto;}
    .price{margin: -1rem;}

}


@media (max-width:1200px) and (min-width:992px) {
    .add-to-cart{position: relative; }
    .add-to-cart .optional{display: flex;}
    .add-to-cart .optional p:last-child{margin-right: 3rem;}
    .md{
        height: 90px;
        position: relative;
    }
    .md * {
        margin: 0;
        padding: 0;
    }
    .otherlink{
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
    }
    .price {position: absolute; right: 2rem; top: 2.3rem;}
    .btn-add-to-cart {position: absolute; left: 2rem; top: 1.4rem; width: 30%; padding: 1rem;}
    .count-product {position: absolute; right: 19em; top: 2.1rem; margin: 0;}
}